// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.page-header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;

  &__logo {
  }
}
